.portfolio-item {
  display: flex;
  flex-direction: row; /* Default: Side-by-side layout */
  align-items: center;
  justify-content: space-between;
}

.portfolio-text {
  flex: 1;
  text-align: left; /* Align text to the left */
}

.portfolio-image {
  max-width: 265px; /* Ensure image doesn't exceed its container width */
  height: auto; /* Allow image to adjust proportionally */
  object-fit: cover; /* Ensures image covers the entire container */
  margin-top: 10px; /* Adjust margin for better spacing */
  margin-left: 10px;
}

/* Media Query for Mobile */
@media (max-width: 768px) {
  .portfolio-item {
    flex-direction: column; /* Stack items vertically on smaller screens */
  }

  .portfolio-image {
    margin-top: 0px;
    margin-left: 0px;
  }
}
