---
layout: compress
---

{% include base_path %}

<style>
  .highlight {
      background-color: rgba(255, 255, 0, 0.2);
      padding: 0px 0px;
      border-radius: 3px;
      display: inline;
  }
  </style>

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    {{ content }}

    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>

    {% include scripts.html %}

  </body>
</html>
